
* {
    font-family: 'Wix Madefor Display', sans-serif;;
    color: #384F21;
}
body {
    background-color: #EDE5D1;
    margin: 0;
  }

h1{
    font-size: 100px;
    text-align: center;
    margin-bottom: -10px;
}


video {
    width: 70%;
    height:50%;
    margin: 10px auto;
    display: block; 
}
img {
    width: 250px;
    height: 250px;
    display: block;
    border-radius: 10%;
}

article {
    text-align: justify;
    margin: 30px;
    display: flexbox;
}

div {
    font-size: 50px;
    text-align: center;
    display: flex;
    align-content: center;
    flex-wrap: wrap;

}
.common_name {
    font-weight: bolder;
    font-size: 30px;
    margin-bottom: -20px;

}

.scientific_name {
    font-style: italic;
    font-size: 20px;
    margin-bottom: 5px;

}
